<style>
    body{
        background: #2a242b; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #2a242b, #3e7775); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #2a242b, #3e7775); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
</style>

<div class="container text-center" style="padding-top: 70px; color: white">
    <h1 style="font-family: 'Muli', sans-serif;">NodeAuth</h1>
</div>
<br><br><br><br><br>
<div class="container text-center">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="col-md-6">
                <a href="/register" class="btn btn-primary btn-lg mainbtn" style="background-color: #272e3e;">Register</a>
            </div>

            <div class="col-md-6">
                <a href="/login" class="btn btn-primary btn-lg mainbtn" style="background-color: #272e3e;">Login</a>
            </div>
        </div>

    </div>
</div>
